src/conf/xml-resources/web-service-references/WSQuickOrder/wsdl/localhost_8080/WSUsuario/WSQuickOrder.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2-hudson-740-. --><xs:schema xmlns:tns="http://WebServices/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://WebServices/">

<xs:element name="BuscarDataXRestaurante_Producto" type="tns:BuscarDataXRestaurante_Producto" />

<xs:element name="BuscarDataXRestaurante_ProductoResponse" type="tns:BuscarDataXRestaurante_ProductoResponse" />

<xs:element name="agregarACarrito" type="tns:agregarACarrito" />

<xs:element name="agregarACarritoResponse" type="tns:agregarACarritoResponse" />

<xs:element name="buscarCliente" type="tns:buscarCliente" />

<xs:element name="buscarClientePorEmail" type="tns:buscarClientePorEmail" />

<xs:element name="buscarClientePorEmailResponse" type="tns:buscarClientePorEmailResponse" />

<xs:element name="buscarClienteResponse" type="tns:buscarClienteResponse" />

<xs:element name="buscarDataIndividual" type="tns:buscarDataIndividual" />

<xs:element name="buscarDataIndividualResponse" type="tns:buscarDataIndividualResponse" />

<xs:element name="buscarProductos" type="tns:buscarProductos" />

<xs:element name="buscarProductosI" type="tns:buscarProductosI" />

<xs:element name="buscarProductosIResponse" type="tns:buscarProductosIResponse" />

<xs:element name="buscarProductosP" type="tns:buscarProductosP" />

<xs:element name="buscarProductosPResponse" type="tns:buscarProductosPResponse" />

<xs:element name="buscarProductosResponse" type="tns:buscarProductosResponse" />

<xs:element name="buscarRestaurante" type="tns:buscarRestaurante" />

<xs:element name="buscarRestauranteResponse" type="tns:buscarRestauranteResponse" />

<xs:element name="calificarPedido" type="tns:calificarPedido" />

<xs:element name="calificarPedidoResponse" type="tns:calificarPedidoResponse" />

<xs:element name="cambiarEstadoPedido" type="tns:cambiarEstadoPedido" />

<xs:element name="cambiarEstadoPedidoResponse" type="tns:cambiarEstadoPedidoResponse" />

<xs:element name="cancelarPedido" type="tns:cancelarPedido" />

<xs:element name="cancelarPedidoResponse" type="tns:cancelarPedidoResponse" />

<xs:element name="cantidadPorCategoria" type="tns:cantidadPorCategoria" />

<xs:element name="cantidadPorCategoriaResponse" type="tns:cantidadPorCategoriaResponse" />

<xs:element name="clienteGetPedidos" type="tns:clienteGetPedidos" />

<xs:element name="clienteGetPedidosResponse" type="tns:clienteGetPedidosResponse" />

<xs:element name="consultarCategorias" type="tns:consultarCategorias" />

<xs:element name="consultarCategoriasResponse" type="tns:consultarCategoriasResponse" />

<xs:element name="consultarDataCategorias" type="tns:consultarDataCategorias" />

<xs:element name="consultarDataCategoriasResponse" type="tns:consultarDataCategoriasResponse" />

<xs:element name="consultarEstadisticasBrowser" type="tns:consultarEstadisticasBrowser" />

<xs:element name="consultarEstadisticasBrowserResponse" type="tns:consultarEstadisticasBrowserResponse" />

<xs:element name="consultarEstadisticasRestaurante" type="tns:consultarEstadisticasRestaurante" />

<xs:element name="consultarEstadisticasRestauranteResponse" type="tns:consultarEstadisticasRestauranteResponse" />

<xs:element name="consultarEstadisticasSO" type="tns:consultarEstadisticasSO" />

<xs:element name="consultarEstadisticasSOResponse" type="tns:consultarEstadisticasSOResponse" />

<xs:element name="consultarEstadisticasURL" type="tns:consultarEstadisticasURL" />

<xs:element name="consultarEstadisticasURLResponse" type="tns:consultarEstadisticasURLResponse" />

<xs:element name="consultarRestaurantesPorCategoria" type="tns:consultarRestaurantesPorCategoria" />

<xs:element name="consultarRestaurantesPorCategoriaResponse" type="tns:consultarRestaurantesPorCategoriaResponse" />

<xs:element name="dc" type="tns:dc" />

<xs:element name="dcResponse" type="tns:dcResponse" />

<xs:element name="dhp" type="tns:dhp" />

<xs:element name="dhpResponse" type="tns:dhpResponse" />

<xs:element name="emailOcupado" type="tns:emailOcupado" />

<xs:element name="emailOcupadoResponse" type="tns:emailOcupadoResponse" />

<xs:element name="filtrarRestaurantes" type="tns:filtrarRestaurantes" />

<xs:element name="filtrarRestaurantesResponse" type="tns:filtrarRestaurantesResponse" />

<xs:element name="getDataClientes" type="tns:getDataClientes" />

<xs:element name="getDataClientesResponse" type="tns:getDataClientesResponse" />

<xs:element name="getDataIndividuales" type="tns:getDataIndividuales" />

<xs:element name="getDataIndividualesResponse" type="tns:getDataIndividualesResponse" />

<xs:element name="getDataPedido" type="tns:getDataPedido" />

<xs:element name="getDataPedidoResponse" type="tns:getDataPedidoResponse" />

<xs:element name="getDataPedidos" type="tns:getDataPedidos" />

<xs:element name="getDataPedidosProducto" type="tns:getDataPedidosProducto" />

<xs:element name="getDataPedidosProductoResponse" type="tns:getDataPedidosProductoResponse" />

<xs:element name="getDataPedidosResponse" type="tns:getDataPedidosResponse" />

<xs:element name="getDataPedidosTodos" type="tns:getDataPedidosTodos" />

<xs:element name="getDataPedidosTodosResponse" type="tns:getDataPedidosTodosResponse" />

<xs:element name="getDataPromociones" type="tns:getDataPromociones" />

<xs:element name="getDataPromocionesResponse" type="tns:getDataPromocionesResponse" />

<xs:element name="getDataRestaurantes" type="tns:getDataRestaurantes" />

<xs:element name="getDataRestaurantesResponse" type="tns:getDataRestaurantesResponse" />

<xs:element name="getInfoPedidos" type="tns:getInfoPedidos" />

<xs:element name="getInfoPedidosResponse" type="tns:getInfoPedidosResponse" />

<xs:element name="getPedidosCarrito" type="tns:getPedidosCarrito" />

<xs:element name="getPedidosCarritoResponse" type="tns:getPedidosCarritoResponse" />

<xs:element name="getPedidosRestaurante" type="tns:getPedidosRestaurante" />

<xs:element name="getPedidosRestauranteResponse" type="tns:getPedidosRestauranteResponse" />

<xs:element name="getPromedioCalificaciones" type="tns:getPromedioCalificaciones" />

<xs:element name="getPromedioCalificacionesResponse" type="tns:getPromedioCalificacionesResponse" />

<xs:element name="insertarCategoria" type="tns:insertarCategoria" />

<xs:element name="insertarCategoriaResponse" type="tns:insertarCategoriaResponse" />

<xs:element name="insertarCliente" type="tns:insertarCliente" />

<xs:element name="insertarClienteResponse" type="tns:insertarClienteResponse" />

<xs:element name="insertarIndividual" type="tns:insertarIndividual" />

<xs:element name="insertarIndividualResponse" type="tns:insertarIndividualResponse" />

<xs:element name="insertarPedido" type="tns:insertarPedido" />

<xs:element name="insertarPedidoResponse" type="tns:insertarPedidoResponse" />

<xs:element name="insertarPromocion" type="tns:insertarPromocion" />

<xs:element name="insertarPromocionResponse" type="tns:insertarPromocionResponse" />

<xs:element name="insertarRestaurante" type="tns:insertarRestaurante" />

<xs:element name="insertarRestauranteResponse" type="tns:insertarRestauranteResponse" />

<xs:element name="modificarCliente" type="tns:modificarCliente" />

<xs:element name="modificarClienteResponse" type="tns:modificarClienteResponse" />

<xs:element name="nickOcupado" type="tns:nickOcupado" />

<xs:element name="nickOcupadoResponse" type="tns:nickOcupadoResponse" />

<xs:element name="obtenerCalificacionPedido" type="tns:obtenerCalificacionPedido" />

<xs:element name="obtenerCalificacionPedidoResponse" type="tns:obtenerCalificacionPedidoResponse" />

<xs:element name="pedidoGetProdPedidos" type="tns:pedidoGetProdPedidos" />

<xs:element name="pedidoGetProdPedidosResponse" type="tns:pedidoGetProdPedidosResponse" />

<xs:element name="promocionGetProdPromo" type="tns:promocionGetProdPromo" />

<xs:element name="promocionGetProdPromoResponse" type="tns:promocionGetProdPromoResponse" />

<xs:element name="pruebaProductoPromo" type="tns:pruebaProductoPromo" />

<xs:element name="pruebaProductoPromoResponse" type="tns:pruebaProductoPromoResponse" />

<xs:element name="pruebaPromocion" type="tns:pruebaPromocion" />

<xs:element name="pruebaPromocionResponse" type="tns:pruebaPromocionResponse" />

<xs:element name="quitarLineaPedido" type="tns:quitarLineaPedido" />

<xs:element name="quitarLineaPedidoResponse" type="tns:quitarLineaPedidoResponse" />

<xs:element name="registroVisitas" type="tns:registroVisitas" />

<xs:element name="registroVisitasResponse" type="tns:registroVisitasResponse" />

<xs:element name="restauranteGetCategorias" type="tns:restauranteGetCategorias" />

<xs:element name="restauranteGetCategoriasResponse" type="tns:restauranteGetCategoriasResponse" />

<xs:element name="restauranteGetImagenes" type="tns:restauranteGetImagenes" />

<xs:element name="restauranteGetImagenesResponse" type="tns:restauranteGetImagenesResponse" />

<xs:element name="restauranteGetIndividuales" type="tns:restauranteGetIndividuales" />

<xs:element name="restauranteGetIndividualesResponse" type="tns:restauranteGetIndividualesResponse" />

<xs:element name="restauranteGetPromociones" type="tns:restauranteGetPromociones" />

<xs:element name="restauranteGetPromocionesResponse" type="tns:restauranteGetPromocionesResponse" />

<xs:element name="retornarCambiosEstado" type="tns:retornarCambiosEstado" />

<xs:element name="retornarCambiosEstadoResponse" type="tns:retornarCambiosEstadoResponse" />

<xs:element name="retornarCategoriasRestaurantes" type="tns:retornarCategoriasRestaurantes" />

<xs:element name="retornarCategoriasRestaurantesResponse" type="tns:retornarCategoriasRestaurantesResponse" />

<xs:complexType name="insertarIndividual">
<xs:sequence>
<xs:element name="arg0" type="xs:string" minOccurs="0" />
<xs:element name="arg1" type="xs:string" minOccurs="0" />
<xs:element name="arg2" type="xs:string" minOccurs="0" />
<xs:element name="arg3" type="xs:string" minOccurs="0" />
<xs:element name="arg4" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="insertarIndividualResponse">
<xs:sequence />
</xs:complexType>

<xs:complexType name="consultarDataCategorias">
<xs:sequence />
</xs:complexType>

<xs:complexType name="consultarDataCategoriasResponse">
<xs:sequence>
<xs:element name="return" type="xs:anyType" nillable="true" minOccurs="0" maxOccurs="unbounded" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="insertarPromocion">
<xs:sequence>
<xs:element name="arg0" type="xs:string" minOccurs="0" />
<xs:element name="arg1" type="xs:string" minOccurs="0" />
<xs:element name="arg2" type="xs:string" minOccurs="0" />
<xs:element name="arg3" type="xs:boolean" />
<xs:element name="arg4" type="xs:float" />
<xs:element name="arg5" type="xs:string" minOccurs="0" />
<xs:element name="arg6" type="tns:dataProdPromo" nillable="true" minOccurs="0" maxOccurs="unbounded" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="dataProdPromo">
<xs:sequence>
<xs:element name="cantidad" type="xs:int" />
<xs:element name="individual" type="tns:dataIndividual" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="dataIndividual">
<xs:complexContent>
<xs:extension base="tns:dataProducto">
<xs:sequence />
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="dataProducto">
<xs:sequence>
<xs:element name="descripcion" type="xs:string" minOccurs="0" />
<xs:element name="imagen" type="xs:string" minOccurs="0" />
<xs:element name="nombre" type="xs:string" minOccurs="0" />
<xs:element name="precio" type="xs:float" />
<xs:element name="restaurante" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="insertarPromocionResponse">
<xs:sequence />
</xs:complexType>

<xs:complexType name="getPromedioCalificaciones">
<xs:sequence>
<xs:element name="arg0" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="getPromedioCalificacionesResponse">
<xs:sequence>
<xs:element name="return" type="xs:float" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="agregarACarrito">
<xs:sequence>
<xs:element name="arg0" type="tns:dataProdPedido" minOccurs="0" />
<xs:element name="arg1" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="dataProdPedido">
<xs:sequence>
<xs:element name="cantidad" type="xs:int" />
<xs:element name="producto" type="tns:dataProducto" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="agregarACarritoResponse">
<xs:sequence />
</xs:complexType>

<xs:complexType name="pedidoGetProdPedidos">
<xs:sequence>
<xs:element name="arg0" type="xs:int" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="pedidoGetProdPedidosResponse">
<xs:sequence>
<xs:element name="return" type="xs:anyType" nillable="true" minOccurs="0" maxOccurs="unbounded" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="promocionGetProdPromo">
<xs:sequence>
<xs:element name="arg0" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="promocionGetProdPromoResponse">
<xs:sequence>
<xs:element name="return" type="xs:anyType" nillable="true" minOccurs="0" maxOccurs="unbounded" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="buscarCliente">
<xs:sequence>
<xs:element name="arg0" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="buscarClienteResponse">
<xs:sequence>
<xs:element name="return" type="tns:dataCliente" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="dataCliente">
<xs:sequence>
<xs:element name="apellido" type="xs:string" minOccurs="0" />
<xs:element name="direccion" type="xs:string" minOccurs="0" />
<xs:element name="email" type="xs:string" minOccurs="0" />
<xs:element name="fechaNac" type="tns:fecha" minOccurs="0" />
<xs:element name="imagen" type="xs:string" minOccurs="0" />
<xs:element name="nickname" type="xs:string" minOccurs="0" />
<xs:element name="nombre" type="xs:string" minOccurs="0" />
<xs:element name="pwd" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="fecha">
<xs:sequence>
<xs:element name="agno" type="xs:int" />
<xs:element name="dia" type="xs:int" />
<xs:element name="mes" type="xs:int" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="getDataRestaurantes">
<xs:sequence />
</xs:complexType>

<xs:complexType name="getDataRestaurantesResponse">
<xs:sequence>
<xs:element name="return" type="xs:anyType" nillable="true" minOccurs="0" maxOccurs="unbounded" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="consultarCategorias">
<xs:sequence />
</xs:complexType>

<xs:complexType name="consultarCategoriasResponse">
<xs:sequence>
<xs:element name="return" type="xs:anyType" nillable="true" minOccurs="0" maxOccurs="unbounded" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="BuscarDataXRestaurante_Producto">
<xs:sequence>
<xs:element name="arg0" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="BuscarDataXRestaurante_ProductoResponse">
<xs:sequence>
<xs:element name="return" type="tns:dataProducto" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="insertarRestaurante">
<xs:sequence>
<xs:element name="arg0" type="xs:string" minOccurs="0" />
<xs:element name="arg1" type="xs:string" minOccurs="0" />
<xs:element name="arg2" type="xs:string" minOccurs="0" />
<xs:element name="arg3" type="xs:string" minOccurs="0" />
<xs:element name="arg4" type="xs:string" nillable="true" minOccurs="0" maxOccurs="unbounded" />
<xs:element name="arg5" type="xs:int" nillable="true" minOccurs="0" maxOccurs="unbounded" />
<xs:element name="arg6" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="insertarRestauranteResponse">
<xs:sequence />
</xs:complexType>

<xs:complexType name="getDataPromociones">
<xs:sequence />
</xs:complexType>

<xs:complexType name="getDataPromocionesResponse">
<xs:sequence>
<xs:element name="return" type="xs:anyType" nillable="true" minOccurs="0" maxOccurs="unbounded" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="getDataIndividuales">
<xs:sequence />
</xs:complexType>

<xs:complexType name="getDataIndividualesResponse">
<xs:sequence>
<xs:element name="return" type="xs:anyType" nillable="true" minOccurs="0" maxOccurs="unbounded" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="retornarCambiosEstado">
<xs:sequence>
<xs:element name="arg0" type="xs:int" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="retornarCambiosEstadoResponse">
<xs:sequence>
<xs:element name="return" type="xs:anyType" nillable="true" minOccurs="0" maxOccurs="unbounded" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="getDataPedidosTodos">
<xs:sequence />
</xs:complexType>

<xs:complexType name="getDataPedidosTodosResponse">
<xs:sequence>
<xs:element name="return" type="xs:anyType" nillable="true" minOccurs="0" maxOccurs="unbounded" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="quitarLineaPedido">
<xs:sequence>
<xs:element name="arg0" type="xs:int" />
<xs:element name="arg1" type="xs:string" minOccurs="0" />
<xs:element name="arg2" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="quitarLineaPedidoResponse">
<xs:sequence />
</xs:complexType>

<xs:complexType name="clienteGetPedidos">
<xs:sequence>
<xs:element name="arg0" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="clienteGetPedidosResponse">
<xs:sequence>
<xs:element name="return" type="xs:anyType" nillable="true" minOccurs="0" maxOccurs="unbounded" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="insertarPedido">
<xs:sequence>
<xs:element name="arg0" type="xs:string" minOccurs="0" />
<xs:element name="arg1" type="xs:string" minOccurs="0" />
<xs:element name="arg2" type="xs:string" minOccurs="0" />
<xs:element name="arg3" type="tns:estado" minOccurs="0" />
<xs:element name="arg4" type="xs:string" minOccurs="0" />
<xs:element name="arg5" type="xs:string" minOccurs="0" />
<xs:element name="arg6" type="tns:dataProdPedido" nillable="true" minOccurs="0" maxOccurs="unbounded" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="insertarPedidoResponse">
<xs:sequence>
<xs:element name="return" type="xs:int" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="obtenerCalificacionPedido">
<xs:sequence>
<xs:element name="arg0" type="xs:int" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="obtenerCalificacionPedidoResponse">
<xs:sequence>
<xs:element name="return" type="tns:dataCalificacion" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="dataCalificacion">
<xs:sequence>
<xs:element name="comentario" type="xs:string" minOccurs="0" />
<xs:element name="puntaje" type="xs:int" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="getInfoPedidos">
<xs:sequence />
</xs:complexType>

<xs:complexType name="getInfoPedidosResponse">
<xs:sequence>
<xs:element name="return" type="xs:anyType" nillable="true" minOccurs="0" maxOccurs="unbounded" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="buscarDataIndividual">
<xs:sequence>
<xs:element name="arg0" type="xs:string" minOccurs="0" />
<xs:element name="arg1" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="buscarDataIndividualResponse">
<xs:sequence>
<xs:element name="return" type="tns:dataIndividual" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="buscarProductos">
<xs:sequence>
<xs:element name="arg0" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="buscarProductosResponse">
<xs:sequence>
<xs:element name="return" type="xs:anyType" nillable="true" minOccurs="0" maxOccurs="unbounded" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="consultarRestaurantesPorCategoria">
<xs:sequence>
<xs:element name="arg0" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="consultarRestaurantesPorCategoriaResponse">
<xs:sequence>
<xs:element name="return" type="xs:anyType" nillable="true" minOccurs="0" maxOccurs="unbounded" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="cambiarEstadoPedido">
<xs:sequence>
<xs:element name="arg0" type="xs:int" />
<xs:element name="arg1" type="xs:int" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="cambiarEstadoPedidoResponse">
<xs:sequence />
</xs:complexType>

<xs:complexType name="insertarCliente">
<xs:sequence>
<xs:element name="arg0" type="xs:string" minOccurs="0" />
<xs:element name="arg1" type="xs:string" minOccurs="0" />
<xs:element name="arg2" type="xs:string" minOccurs="0" />
<xs:element name="arg3" type="xs:string" minOccurs="0" />
<xs:element name="arg4" type="xs:string" minOccurs="0" />
<xs:element name="arg5" type="xs:string" minOccurs="0" />
<xs:element name="arg6" type="xs:string" minOccurs="0" />
<xs:element name="arg7" type="xs:string" minOccurs="0" />
<xs:element name="arg8" type="xs:string" minOccurs="0" />
<xs:element name="arg9" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="insertarClienteResponse">
<xs:sequence />
</xs:complexType>

<xs:complexType name="consultarEstadisticasURL">
<xs:sequence />
</xs:complexType>

<xs:complexType name="consultarEstadisticasURLResponse">
<xs:sequence>
<xs:element name="return" type="xs:anyType" nillable="true" minOccurs="0" maxOccurs="unbounded" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="modificarCliente">
<xs:sequence>
<xs:element name="arg0" type="xs:string" minOccurs="0" />
<xs:element name="arg1" type="xs:string" minOccurs="0" />
<xs:element name="arg2" type="xs:string" minOccurs="0" />
<xs:element name="arg3" type="xs:string" minOccurs="0" />
<xs:element name="arg4" type="xs:string" minOccurs="0" />
<xs:element name="arg5" type="xs:string" minOccurs="0" />
<xs:element name="arg6" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="modificarClienteResponse">
<xs:sequence />
</xs:complexType>

<xs:complexType name="consultarEstadisticasSO">
<xs:sequence />
</xs:complexType>

<xs:complexType name="consultarEstadisticasSOResponse">
<xs:sequence>
<xs:element name="return" type="xs:anyType" nillable="true" minOccurs="0" maxOccurs="unbounded" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="pruebaPromocion">
<xs:sequence />
</xs:complexType>

<xs:complexType name="pruebaPromocionResponse">
<xs:sequence>
<xs:element name="return" type="tns:dataPromocion" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="dataPromocion">
<xs:complexContent>
<xs:extension base="tns:dataProducto">
<xs:sequence>
<xs:element name="activo" type="xs:boolean" />
<xs:element name="descuento" type="xs:float" />
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="nickOcupado">
<xs:sequence>
<xs:element name="arg0" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="nickOcupadoResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="getDataPedido">
<xs:sequence>
<xs:element name="arg0" type="xs:int" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="getDataPedidoResponse">
<xs:sequence>
<xs:element name="return" type="tns:dataPedido" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="dataPedido">
<xs:sequence>
<xs:element name="calificacion" type="tns:dataCalificacion" minOccurs="0" />
<xs:element name="cliente" type="xs:string" minOccurs="0" />
<xs:element name="estado" type="tns:estado" minOccurs="0" />
<xs:element name="fecha" type="tns:fecha" minOccurs="0" />
<xs:element name="numero" type="xs:int" />
<xs:element name="precio" type="xs:float" />
<xs:element name="restaurante" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="dhp">
<xs:sequence />
</xs:complexType>

<xs:complexType name="dhpResponse">
<xs:sequence>
<xs:element name="return" type="tns:dataHistorialPedido" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="dataHistorialPedido">
<xs:sequence>
<xs:element name="estado" type="xs:int" />
<xs:element name="fechaHora" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="buscarProductosI">
<xs:sequence>
<xs:element name="arg0" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="buscarProductosIResponse">
<xs:sequence>
<xs:element name="return" type="xs:anyType" nillable="true" minOccurs="0" maxOccurs="unbounded" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="pruebaProductoPromo">
<xs:sequence />
</xs:complexType>

<xs:complexType name="pruebaProductoPromoResponse">
<xs:sequence>
<xs:element name="return" type="tns:dataProdPromo" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="restauranteGetImagenes">
<xs:sequence>
<xs:element name="arg0" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="restauranteGetImagenesResponse">
<xs:sequence>
<xs:element name="return" type="xs:anyType" nillable="true" minOccurs="0" maxOccurs="unbounded" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="buscarRestaurante">
<xs:sequence>
<xs:element name="arg0" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="buscarRestauranteResponse">
<xs:sequence>
<xs:element name="return" type="tns:dataRestaurante" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="dataRestaurante">
<xs:sequence>
<xs:element name="direccion" type="xs:string" minOccurs="0" />
<xs:element name="email" type="xs:string" minOccurs="0" />
<xs:element name="nickname" type="xs:string" minOccurs="0" />
<xs:element name="nombre" type="xs:string" minOccurs="0" />
<xs:element name="pwd" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="cancelarPedido">
<xs:sequence>
<xs:element name="arg0" type="xs:int" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="cancelarPedidoResponse">
<xs:sequence />
</xs:complexType>

<xs:complexType name="consultarEstadisticasBrowser">
<xs:sequence />
</xs:complexType>

<xs:complexType name="consultarEstadisticasBrowserResponse">
<xs:sequence>
<xs:element name="return" type="xs:anyType" nillable="true" minOccurs="0" maxOccurs="unbounded" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="buscarProductosP">
<xs:sequence>
<xs:element name="arg0" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="buscarProductosPResponse">
<xs:sequence>
<xs:element name="return" type="xs:anyType" nillable="true" minOccurs="0" maxOccurs="unbounded" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="dc">
<xs:sequence />
</xs:complexType>

<xs:complexType name="dcResponse">
<xs:sequence>
<xs:element name="return" type="tns:dataCategoria" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="dataCategoria">
<xs:sequence>
<xs:element name="id" type="xs:int" />
<xs:element name="nombre" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="registroVisitas">
<xs:sequence>
<xs:element name="arg0" type="xs:string" minOccurs="0" />
<xs:element name="arg1" type="xs:string" minOccurs="0" />
<xs:element name="arg2" type="xs:string" minOccurs="0" />
<xs:element name="arg3" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="registroVisitasResponse">
<xs:sequence />
</xs:complexType>

<xs:complexType name="restauranteGetCategorias">
<xs:sequence>
<xs:element name="arg0" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="restauranteGetCategoriasResponse">
<xs:sequence>
<xs:element name="return" type="xs:anyType" nillable="true" minOccurs="0" maxOccurs="unbounded" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="getPedidosCarrito">
<xs:sequence>
<xs:element name="arg0" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="getPedidosCarritoResponse">
<xs:sequence>
<xs:element name="return" type="xs:anyType" nillable="true" minOccurs="0" maxOccurs="unbounded" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="buscarClientePorEmail">
<xs:sequence>
<xs:element name="arg0" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="buscarClientePorEmailResponse">
<xs:sequence>
<xs:element name="return" type="tns:dataCliente" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="insertarCategoria">
<xs:sequence>
<xs:element name="arg0" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="insertarCategoriaResponse">
<xs:sequence />
</xs:complexType>

<xs:complexType name="calificarPedido">
<xs:sequence>
<xs:element name="arg0" type="xs:int" />
<xs:element name="arg1" type="xs:int" />
<xs:element name="arg2" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="calificarPedidoResponse">
<xs:sequence />
</xs:complexType>

<xs:complexType name="getDataClientes">
<xs:sequence />
</xs:complexType>

<xs:complexType name="getDataClientesResponse">
<xs:sequence>
<xs:element name="return" type="xs:anyType" nillable="true" minOccurs="0" maxOccurs="unbounded" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="retornarCategoriasRestaurantes">
<xs:sequence>
<xs:element name="arg0" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="retornarCategoriasRestaurantesResponse">
<xs:sequence>
<xs:element name="return" type="xs:anyType" nillable="true" minOccurs="0" maxOccurs="unbounded" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="getPedidosRestaurante">
<xs:sequence>
<xs:element name="arg0" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="getPedidosRestauranteResponse">
<xs:sequence>
<xs:element name="return" type="xs:anyType" nillable="true" minOccurs="0" maxOccurs="unbounded" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="cantidadPorCategoria">
<xs:sequence>
<xs:element name="arg0" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="cantidadPorCategoriaResponse">
<xs:sequence>
<xs:element name="return" type="xs:int" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="consultarEstadisticasRestaurante">
<xs:sequence />
</xs:complexType>

<xs:complexType name="consultarEstadisticasRestauranteResponse">
<xs:sequence>
<xs:element name="return" type="xs:anyType" nillable="true" minOccurs="0" maxOccurs="unbounded" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="filtrarRestaurantes">
<xs:sequence>
<xs:element name="arg0" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="filtrarRestaurantesResponse">
<xs:sequence>
<xs:element name="return" type="xs:anyType" nillable="true" minOccurs="0" maxOccurs="unbounded" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="restauranteGetPromociones">
<xs:sequence>
<xs:element name="arg0" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="restauranteGetPromocionesResponse">
<xs:sequence>
<xs:element name="return" type="xs:anyType" nillable="true" minOccurs="0" maxOccurs="unbounded" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="getDataPedidosProducto">
<xs:sequence>
<xs:element name="arg0" type="xs:string" minOccurs="0" />
<xs:element name="arg1" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="getDataPedidosProductoResponse">
<xs:sequence>
<xs:element name="return" type="xs:anyType" nillable="true" minOccurs="0" maxOccurs="unbounded" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="getDataPedidos">
<xs:sequence>
<xs:element name="arg0" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="getDataPedidosResponse">
<xs:sequence>
<xs:element name="return" type="xs:anyType" nillable="true" minOccurs="0" maxOccurs="unbounded" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="restauranteGetIndividuales">
<xs:sequence>
<xs:element name="arg0" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="restauranteGetIndividualesResponse">
<xs:sequence>
<xs:element name="return" type="xs:anyType" nillable="true" minOccurs="0" maxOccurs="unbounded" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="emailOcupado">
<xs:sequence>
<xs:element name="arg0" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="emailOcupadoResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:simpleType name="estado">
<xs:restriction base="xs:string">
<xs:enumeration value="preparacion" />
<xs:enumeration value="enviado" />
<xs:enumeration value="recibido" />
<xs:enumeration value="aconfirmar" />
</xs:restriction>
</xs:simpleType>
</xs:schema>