web/WEB-INF/wsdl/localhost_8080/WSUsuario/WSQuickOrder.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2-hudson-740-. --><xs:schema xmlns:tns="http://WebServices/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://WebServices/">

<xs:element name="agregarACarrito" type="tns:agregarACarrito" />

<xs:element name="agregarACarritoResponse" type="tns:agregarACarritoResponse" />

<xs:element name="buscarCliente" type="tns:buscarCliente" />

<xs:element name="buscarClientePorEmail" type="tns:buscarClientePorEmail" />

<xs:element name="buscarClientePorEmailResponse" type="tns:buscarClientePorEmailResponse" />

<xs:element name="buscarClienteResponse" type="tns:buscarClienteResponse" />

<xs:element name="buscarRestaurante" type="tns:buscarRestaurante" />

<xs:element name="buscarRestauranteResponse" type="tns:buscarRestauranteResponse" />

<xs:element name="calificarPedido" type="tns:calificarPedido" />

<xs:element name="calificarPedidoResponse" type="tns:calificarPedidoResponse" />

<xs:element name="cambiarEstadoPedido" type="tns:cambiarEstadoPedido" />

<xs:element name="cambiarEstadoPedidoResponse" type="tns:cambiarEstadoPedidoResponse" />

<xs:element name="cancelarPedido" type="tns:cancelarPedido" />

<xs:element name="cancelarPedidoResponse" type="tns:cancelarPedidoResponse" />

<xs:element name="cantidadPorCategoria" type="tns:cantidadPorCategoria" />

<xs:element name="cantidadPorCategoriaResponse" type="tns:cantidadPorCategoriaResponse" />

<xs:element name="consultarCategorias" type="tns:consultarCategorias" />

<xs:element name="consultarCategoriasResponse" type="tns:consultarCategoriasResponse" />

<xs:element name="consultarRestaurantesPorCategoria" type="tns:consultarRestaurantesPorCategoria" />

<xs:element name="consultarRestaurantesPorCategoriaResponse" type="tns:consultarRestaurantesPorCategoriaResponse" />

<xs:element name="emailOcupado" type="tns:emailOcupado" />

<xs:element name="emailOcupadoResponse" type="tns:emailOcupadoResponse" />

<xs:element name="filtrarRestaurantes" type="tns:filtrarRestaurantes" />

<xs:element name="filtrarRestaurantesResponse" type="tns:filtrarRestaurantesResponse" />

<xs:element name="getDataClientes" type="tns:getDataClientes" />

<xs:element name="getDataClientesResponse" type="tns:getDataClientesResponse" />

<xs:element name="getDataPedido" type="tns:getDataPedido" />

<xs:element name="getDataPedidoResponse" type="tns:getDataPedidoResponse" />

<xs:element name="getDataPedidos" type="tns:getDataPedidos" />

<xs:element name="getDataPedidosProducto" type="tns:getDataPedidosProducto" />

<xs:element name="getDataPedidosProductoResponse" type="tns:getDataPedidosProductoResponse" />

<xs:element name="getDataPedidosResponse" type="tns:getDataPedidosResponse" />

<xs:element name="getDataPedidosTodos" type="tns:getDataPedidosTodos" />

<xs:element name="getDataPedidosTodosResponse" type="tns:getDataPedidosTodosResponse" />

<xs:element name="getDataRestaurantes" type="tns:getDataRestaurantes" />

<xs:element name="getDataRestaurantesResponse" type="tns:getDataRestaurantesResponse" />

<xs:element name="getPedidosCarrito" type="tns:getPedidosCarrito" />

<xs:element name="getPedidosCarritoResponse" type="tns:getPedidosCarritoResponse" />

<xs:element name="getPedidosRestaurante" type="tns:getPedidosRestaurante" />

<xs:element name="getPedidosRestauranteResponse" type="tns:getPedidosRestauranteResponse" />

<xs:element name="getPromedioCalificaciones" type="tns:getPromedioCalificaciones" />

<xs:element name="getPromedioCalificacionesResponse" type="tns:getPromedioCalificacionesResponse" />

<xs:element name="insertarCategoria" type="tns:insertarCategoria" />

<xs:element name="insertarCategoriaResponse" type="tns:insertarCategoriaResponse" />

<xs:element name="insertarCliente" type="tns:insertarCliente" />

<xs:element name="insertarClienteResponse" type="tns:insertarClienteResponse" />

<xs:element name="insertarPedido" type="tns:insertarPedido" />

<xs:element name="insertarPedidoResponse" type="tns:insertarPedidoResponse" />

<xs:element name="insertarRestaurante" type="tns:insertarRestaurante" />

<xs:element name="insertarRestauranteResponse" type="tns:insertarRestauranteResponse" />

<xs:element name="modificarCliente" type="tns:modificarCliente" />

<xs:element name="modificarClienteResponse" type="tns:modificarClienteResponse" />

<xs:element name="nickOcupado" type="tns:nickOcupado" />

<xs:element name="nickOcupadoResponse" type="tns:nickOcupadoResponse" />

<xs:element name="obtenerCalificacionPedido" type="tns:obtenerCalificacionPedido" />

<xs:element name="obtenerCalificacionPedidoResponse" type="tns:obtenerCalificacionPedidoResponse" />

<xs:element name="quitarLineaPedido" type="tns:quitarLineaPedido" />

<xs:element name="quitarLineaPedidoResponse" type="tns:quitarLineaPedidoResponse" />

<xs:element name="retornarCambiosEstado" type="tns:retornarCambiosEstado" />

<xs:element name="retornarCambiosEstadoResponse" type="tns:retornarCambiosEstadoResponse" />

<xs:element name="retornarCategoriasRestaurantes" type="tns:retornarCategoriasRestaurantes" />

<xs:element name="retornarCategoriasRestaurantesResponse" type="tns:retornarCategoriasRestaurantesResponse" />

<xs:complexType name="consultarRestaurantesPorCategoria">
<xs:sequence>
<xs:element name="arg0" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="consultarRestaurantesPorCategoriaResponse">
<xs:sequence>
<xs:element name="return" type="xs:anyType" nillable="true" minOccurs="0" maxOccurs="unbounded" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="cambiarEstadoPedido">
<xs:sequence>
<xs:element name="arg0" type="xs:int" />
<xs:element name="arg1" type="xs:int" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="cambiarEstadoPedidoResponse">
<xs:sequence />
</xs:complexType>

<xs:complexType name="insertarCliente">
<xs:sequence>
<xs:element name="arg0" type="xs:string" minOccurs="0" />
<xs:element name="arg1" type="xs:string" minOccurs="0" />
<xs:element name="arg2" type="xs:string" minOccurs="0" />
<xs:element name="arg3" type="xs:string" minOccurs="0" />
<xs:element name="arg4" type="xs:string" minOccurs="0" />
<xs:element name="arg5" type="xs:string" minOccurs="0" />
<xs:element name="arg6" type="xs:string" minOccurs="0" />
<xs:element name="arg7" type="xs:string" minOccurs="0" />
<xs:element name="arg8" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="insertarClienteResponse">
<xs:sequence />
</xs:complexType>

<xs:complexType name="modificarCliente">
<xs:sequence>
<xs:element name="arg0" type="xs:string" minOccurs="0" />
<xs:element name="arg1" type="xs:string" minOccurs="0" />
<xs:element name="arg2" type="xs:string" minOccurs="0" />
<xs:element name="arg3" type="xs:string" minOccurs="0" />
<xs:element name="arg4" type="xs:string" minOccurs="0" />
<xs:element name="arg5" type="xs:string" minOccurs="0" />
<xs:element name="arg6" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="modificarClienteResponse">
<xs:sequence />
</xs:complexType>

<xs:complexType name="getDataPedido">
<xs:sequence>
<xs:element name="arg0" type="xs:int" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="getDataPedidoResponse">
<xs:sequence>
<xs:element name="return" type="tns:dataPedido" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="dataPedido">
<xs:sequence />
</xs:complexType>

<xs:complexType name="nickOcupado">
<xs:sequence>
<xs:element name="arg0" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="nickOcupadoResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="getPromedioCalificaciones">
<xs:sequence>
<xs:element name="arg0" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="getPromedioCalificacionesResponse">
<xs:sequence>
<xs:element name="return" type="xs:float" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="agregarACarrito">
<xs:sequence>
<xs:element name="arg0" type="tns:dataProdPedido" minOccurs="0" />
<xs:element name="arg1" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="dataProdPedido">
<xs:sequence />
</xs:complexType>

<xs:complexType name="agregarACarritoResponse">
<xs:sequence />
</xs:complexType>

<xs:complexType name="buscarRestaurante">
<xs:sequence>
<xs:element name="arg0" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="buscarRestauranteResponse">
<xs:sequence>
<xs:element name="return" type="tns:dataRestaurante" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="dataRestaurante">
<xs:sequence />
</xs:complexType>

<xs:complexType name="cancelarPedido">
<xs:sequence>
<xs:element name="arg0" type="xs:int" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="cancelarPedidoResponse">
<xs:sequence />
</xs:complexType>

<xs:complexType name="buscarCliente">
<xs:sequence>
<xs:element name="arg0" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="buscarClienteResponse">
<xs:sequence>
<xs:element name="return" type="tns:dataCliente" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="dataCliente">
<xs:sequence>
<xs:element name="apellido" type="xs:string" minOccurs="0" />
<xs:element name="direccion" type="xs:string" minOccurs="0" />
<xs:element name="email" type="xs:string" minOccurs="0" />
<xs:element name="fechaNac" type="tns:fecha" minOccurs="0" />
<xs:element name="imagen" type="xs:string" minOccurs="0" />
<xs:element name="nickname" type="xs:string" minOccurs="0" />
<xs:element name="nombre" type="xs:string" minOccurs="0" />
<xs:element name="pwd" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="fecha">
<xs:sequence>
<xs:element name="agno" type="xs:int" />
<xs:element name="dia" type="xs:int" />
<xs:element name="mes" type="xs:int" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="getDataRestaurantes">
<xs:sequence />
</xs:complexType>

<xs:complexType name="getDataRestaurantesResponse">
<xs:sequence>
<xs:element name="return" type="xs:anyType" nillable="true" minOccurs="0" maxOccurs="unbounded" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="consultarCategorias">
<xs:sequence />
</xs:complexType>

<xs:complexType name="consultarCategoriasResponse">
<xs:sequence>
<xs:element name="return" type="xs:anyType" nillable="true" minOccurs="0" maxOccurs="unbounded" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="insertarRestaurante">
<xs:sequence>
<xs:element name="arg0" type="xs:string" minOccurs="0" />
<xs:element name="arg1" type="xs:string" minOccurs="0" />
<xs:element name="arg2" type="xs:string" minOccurs="0" />
<xs:element name="arg3" type="xs:string" minOccurs="0" />
<xs:element name="arg4" type="xs:string" nillable="true" minOccurs="0" maxOccurs="unbounded" />
<xs:element name="arg5" type="xs:int" nillable="true" minOccurs="0" maxOccurs="unbounded" />
<xs:element name="arg6" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="insertarRestauranteResponse">
<xs:sequence />
</xs:complexType>

<xs:complexType name="getPedidosCarrito">
<xs:sequence>
<xs:element name="arg0" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="getPedidosCarritoResponse">
<xs:sequence>
<xs:element name="return" type="xs:anyType" nillable="true" minOccurs="0" maxOccurs="unbounded" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="retornarCambiosEstado">
<xs:sequence>
<xs:element name="arg0" type="xs:int" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="retornarCambiosEstadoResponse">
<xs:sequence>
<xs:element name="return" type="xs:anyType" nillable="true" minOccurs="0" maxOccurs="unbounded" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="buscarClientePorEmail">
<xs:sequence>
<xs:element name="arg0" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="buscarClientePorEmailResponse">
<xs:sequence>
<xs:element name="return" type="tns:dataCliente" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="insertarCategoria">
<xs:sequence>
<xs:element name="arg0" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="insertarCategoriaResponse">
<xs:sequence />
</xs:complexType>

<xs:complexType name="calificarPedido">
<xs:sequence>
<xs:element name="arg0" type="xs:int" />
<xs:element name="arg1" type="xs:int" />
<xs:element name="arg2" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="calificarPedidoResponse">
<xs:sequence />
</xs:complexType>

<xs:complexType name="getDataClientes">
<xs:sequence />
</xs:complexType>

<xs:complexType name="getDataClientesResponse">
<xs:sequence>
<xs:element name="return" type="xs:anyType" nillable="true" minOccurs="0" maxOccurs="unbounded" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="getDataPedidosTodos">
<xs:sequence />
</xs:complexType>

<xs:complexType name="getDataPedidosTodosResponse">
<xs:sequence>
<xs:element name="return" type="xs:anyType" nillable="true" minOccurs="0" maxOccurs="unbounded" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="quitarLineaPedido">
<xs:sequence>
<xs:element name="arg0" type="xs:int" />
<xs:element name="arg1" type="xs:string" minOccurs="0" />
<xs:element name="arg2" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="quitarLineaPedidoResponse">
<xs:sequence />
</xs:complexType>

<xs:complexType name="retornarCategoriasRestaurantes">
<xs:sequence>
<xs:element name="arg0" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="retornarCategoriasRestaurantesResponse">
<xs:sequence>
<xs:element name="return" type="xs:anyType" nillable="true" minOccurs="0" maxOccurs="unbounded" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="getPedidosRestaurante">
<xs:sequence>
<xs:element name="arg0" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="getPedidosRestauranteResponse">
<xs:sequence>
<xs:element name="return" type="xs:anyType" nillable="true" minOccurs="0" maxOccurs="unbounded" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="cantidadPorCategoria">
<xs:sequence>
<xs:element name="arg0" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="cantidadPorCategoriaResponse">
<xs:sequence>
<xs:element name="return" type="xs:int" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="insertarPedido">
<xs:sequence>
<xs:element name="arg0" type="xs:string" minOccurs="0" />
<xs:element name="arg1" type="xs:string" minOccurs="0" />
<xs:element name="arg2" type="xs:string" minOccurs="0" />
<xs:element name="arg3" type="tns:estado" minOccurs="0" />
<xs:element name="arg4" type="xs:string" minOccurs="0" />
<xs:element name="arg5" type="xs:string" minOccurs="0" />
<xs:element name="arg6" type="tns:dataProdPedido" nillable="true" minOccurs="0" maxOccurs="unbounded" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="insertarPedidoResponse">
<xs:sequence>
<xs:element name="return" type="xs:int" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="filtrarRestaurantes">
<xs:sequence>
<xs:element name="arg0" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="filtrarRestaurantesResponse">
<xs:sequence>
<xs:element name="return" type="xs:anyType" nillable="true" minOccurs="0" maxOccurs="unbounded" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="obtenerCalificacionPedido">
<xs:sequence>
<xs:element name="arg0" type="xs:int" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="obtenerCalificacionPedidoResponse">
<xs:sequence>
<xs:element name="return" type="tns:dataCalificacion" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="dataCalificacion">
<xs:sequence>
<xs:element name="comentario" type="xs:string" minOccurs="0" />
<xs:element name="puntaje" type="xs:int" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="getDataPedidosProducto">
<xs:sequence>
<xs:element name="arg0" type="xs:string" minOccurs="0" />
<xs:element name="arg1" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="getDataPedidosProductoResponse">
<xs:sequence>
<xs:element name="return" type="xs:anyType" nillable="true" minOccurs="0" maxOccurs="unbounded" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="getDataPedidos">
<xs:sequence>
<xs:element name="arg0" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="getDataPedidosResponse">
<xs:sequence>
<xs:element name="return" type="xs:anyType" nillable="true" minOccurs="0" maxOccurs="unbounded" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="emailOcupado">
<xs:sequence>
<xs:element name="arg0" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="emailOcupadoResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:simpleType name="estado">
<xs:restriction base="xs:string">
<xs:enumeration value="preparacion" />
<xs:enumeration value="enviado" />
<xs:enumeration value="recibido" />
<xs:enumeration value="aconfirmar" />
</xs:restriction>
</xs:simpleType>
</xs:schema>